# libpq environment variables. These aren't intended for the application
# but instead are meant to facilitate
# easy connections to the dev database with e.g. `psql`.
export PGHOST="localhost"
export PGUSER="postgres"
export PGPASSWORD="postgres"
export PGPORT=5432
export PGDATABASE="devdb"

# Needed for `sqlx` to check SQL queries at compile time.
export DATABASE_URL="postgres://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/$PGDATABASE"

export RPC_URL="http://ronin.tribally.xyz"
export BLOCKS_TO_INGEST=15000
export BLOCKS_CHUNK_SIZE=100